@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animation to the element */
.sliding-text {
  animation-name: slide-left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
